<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shops</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="distances">
    <button ion-item text-wrap *ngFor="let distance of distances" (click)="onClick(shops[distance.key])">
      <h2>{{ shops[distance.key].name }}</h2>
      <p *ngIf="shops[distance.key].address">
        <ion-icon name="pin"></ion-icon>
        <span>{{ shops[distance.key].address }}</span>
      </p>
      <p *ngIf="shops[distance.key].phones">
        <ion-icon name="call"></ion-icon>
        <span *ngFor="let phone of shops[distance.key].phones; let last = last">{{ phone }}<span *ngIf="!last">, </span></span>
      </p>
      <ion-note item-end>{{ distance.distance }} mi</ion-note>
    </button>
  </ion-list>
  <ion-list *ngIf="!distances">
    <button ion-item text-wrap *ngFor="let shop of shops" (click)="onClick(shop)">
      <h2>{{ shop.name }}</h2>
      <p *ngIf="shop.address">
        <ion-icon name="pin"></ion-icon>
        <span>{{ shop.address }}</span>
      </p>
      <p *ngIf="shop.phones">
        <ion-icon name="call"></ion-icon>
        <span *ngFor="let phone of shop.phones; let last = last">{{ phone }}<span *ngIf="!last">, </span></span>
      </p>
    </button>
  </ion-list>
</ion-content>
