<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-list *ngIf="isContentView">
    <button ion-item text-wrap *ngFor="let event of events" navPush="EventDetailPage" [navParams]="{ id: event.id }">
      <ion-thumbnail item-start>
        <img [src]="event.cover.source">
      </ion-thumbnail>
      <h2 class="title">{{ event.name }}</h2>
      <p icon-start class="date">
        <ion-icon name="clock"></ion-icon>
        <span>{{ event.start_time | date: 'MMM d, y' }} at {{ event.start_time | date: 'h:mm a' }}</span>
      </p>
      <p class="description">{{ event.description | truncate: 130 }}</p>
    </button>
  </ion-list>
  <ion-infinite-scroll *ngIf="isContentView" (ionInfinite)="onLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ad-view></ad-view>
</ion-footer>
