page-movies-movies {
  .movie {
    padding: 15px 8px;
    cursor: pointer;
    .poster,
    .image,
    .shadow {
      border-radius: 6px;
      &.poster {
        position: relative;
      }
      &.image {
        display: block;
      }
      &.shadow {
        position: absolute;
        z-index: -1;
        bottom: -15px;
        transform: scale(0.95);
        opacity: 0.4;
        filter: blur(4px);
      }
    }
    .title {
      font-weight: 800;
      font-size: 15px;
      line-height: 15px;
      letter-spacing: -0.05em;
      padding: 20px 0 5px 0;
    }
    .year {
      font-size: 12px;
      color: #aaa;
    }
  }
}
