<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ params.value || 'Movies' }}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="params.search" (keyup.enter)="onSearch()" (ionClear)="onClearSearch()"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>Sort By</ion-label>
      <ion-select [(ngModel)]="field" (ionChange)="onReload()">
        <ion-option value="title">Title</ion-option>
        <ion-option value="year">Year</ion-option>
        <ion-option value="updatedAt">Date Modified</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="direction" (ionChange)="onReload()">
        <ion-option value="">Ascending</ion-option>
        <ion-option value="-">Descending</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-grid *ngIf="isContentView">
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-2 class="movie" *ngFor="let movie of movies" navPush="MovieDetailPage" [navParams]="{ id: movie.id }">
        <div class="poster">
          <img [src]="movie.picture ? movie.picture.url() : 'assets/imgs/poster.png'" class="image">
          <img [src]="movie.picture ? movie.picture.url() : 'assets/imgs/poster.png'" class="shadow">
        </div>
        <div class="title">{{ movie.title || movie.file }}</div>
        <div class="year">{{ movie.year || 'Unknown' }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll *ngIf="isContentView" (ionInfinite)="onLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ad-view></ad-view>
</ion-footer>
