<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Radio Stations</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar [(ngModel)]="params.search" (keyup.enter)="onSearch()" (ionClear)="onClearSearch()"></ion-searchbar>
  </ion-toolbar>
  <ion-list>
    <ion-item>
      <ion-label>Sort By</ion-label>
      <ion-select [(ngModel)]="field" (ionChange)="onReload()">
        <ion-option value="name">Name</ion-option>
        <ion-option value="updatedAt">Date Modified</ion-option>
      </ion-select>
      <ion-select [(ngModel)]="direction" (ionChange)="onReload()">
        <ion-option value="">Ascending</ion-option>
        <ion-option value="-">Descending</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-list *ngIf="isContentView">
    <button ion-item *ngFor="let station of stations" navPush="RadioPlayerPage" [navParams]="{ id: station.id }">
      {{ station.name }}
    </button>
  </ion-list>
  <ion-infinite-scroll *ngIf="isContentView" (ionInfinite)="onLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ad-view></ad-view>
</ion-footer>
