<ion-header>
  <ion-navbar>
    <ion-title *ngIf="type === 'movies'">{{ movie.title || movie.file || 'Error' }}</ion-title>
    <ion-title *ngIf="type === 'series'">{{ movie.show && movie.season && movie.episode && movie.episodeId ? movie.show +
      ' - Season ' + movie.season + ', Episode ' + movie.episode + ' - ' + movie.episodeId : movie.file || 'Error' }}</ion-title>
    <ion-title *ngIf="type === 'music-videos'">{{ movie.title ? movie.title + ' - ' + (movie.album || 'Unknown') : movie.file
      || 'Error' }}</ion-title>
    <ion-buttons end>
      <a ion-button icon-only [href]="getDownloadUrl(type, movie.id)" target="_blank">
        <ion-icon name="download"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <vjs-video *ngIf="isContentView" #video [playlist]="playlist" [startIndex]="startIndex" autoplay></vjs-video>
</ion-content>
