page-news-detail {
  .date {
    ion-icon,
    span {
      vertical-align: middle;
      color: #666;
    }
  }
  .description {
    font-family: 'Smart Zawgyi Pro';
    padding-top: 8px;
    color: #aaa;
  }
  .video-wrapper {
    max-width: 640px;
    padding-top: 16px;
    margin: 0 auto;
  }
}
