<ion-header>
  <ion-navbar>
    <ion-title>{{ song.title ? song.title + ' - ' + (song.album || 'Unknown') : song.file || 'Error' }}</ion-title>
    <ion-buttons end>
      <a ion-button icon-only [href]="getDownloadUrl('music', song.id)" target="_blank">
        <ion-icon name="download"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-grid *ngIf="isContentView">
    <ion-row justify-content-center align-items-center>
      <ion-col text-center>
        <div class="cd rotating" [ngClass]="{'paused': isPaused}">
          <img [src]="song.picture ? song.picture.url() : 'assets/imgs/cover.png'" class="cover">
          <div class="outer-rim">
            <div class="inner-rim"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="isContentView">
  <vjs-audio #audio [playlist]="playlist" [startIndex]="startIndex" autoplay></vjs-audio>
</ion-footer>
