page-audio-player {
  ion-grid {
    height: 100%;
    ion-row {
      height: 100%;
    }
  }
  .cd {
    width: 350px;
    height: 350px;
    margin: auto;
    .cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 50%;
    }
    .outer-rim {
      position: absolute;
      background: grey;
      width: 140px;
      height: 140px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      .inner-rim {
        position: relative;
        background: black;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        border: 50px solid lightgrey;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        padding: 16px;
      }
    }
  }
  .rotating {
    animation: rotating 5s linear infinite;
  }
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .paused {
    animation-play-state: paused;
  }
}
