// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

$headings-font-weight: 300;
$toolbar-background: #f44336;
$toolbar-active-color: #fff;
$loading-md-spinner-color: #448aff;
$refresher-icon-color: #448aff;
$infinite-scroll-loading-color: #448aff;
$tabs-md-tab-color-inactive: #8c8c8c;
$font-family-ios-base: -apple-system, 'Helvetica Neue', 'Roboto', sans-serif, 'Smart Zawgyi Pro';
$font-family-md-base: 'Roboto', 'Helvetica Neue', sans-serif, 'Smart Zawgyi Pro';
$font-family-wp-base: 'Segoe UI', 'Noto Sans', sans-serif, 'Smart Zawgyi Pro';

// Video.js
$primary-background-color: #f44336;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #448aff,
  secondary:  #32db64,
  danger:     #f44336,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "smart-zawgyi-pro";


// Video.js
// --------------------------------------------------

@import "video-js";
@import "vjs-custom-skin";
