<ion-header>
  <ion-navbar>
    <ion-title>{{ show || 'Unknown' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <div *ngIf="isContentView">
    <ion-item-group *ngFor="let season of seasons">
      <ion-item-divider *ngIf="season.objectId" sticky>
        {{ 'Season ' + season.objectId }}
        <ion-note item-end>{{ season.count + ' Episodes' }}</ion-note>
      </ion-item-divider>
      <button ion-item *ngFor="let episode of season.episodes" navPush="EpisodeDetailPage" [navParams]="{ id: episode.id }">
        {{ episode.episode && episode.episodeId ? episode.episode + '. ' + episode.episodeId : episode.file }}
      </button>
    </ion-item-group>
  </div>
</ion-content>
