<ion-header>
  <ion-navbar>
    <ion-title>{{ station.name || 'Error' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-grid *ngIf="isContentView">
    <ion-row justify-content-center align-items-center>
      <ion-col text-center>
        <ion-icon name="radio"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="isContentView">
  <vjs-audio [src]="station.url" autoplay></vjs-audio>
</ion-footer>
