page-event-detail {
  .date,
  .location {
    ion-icon,
    span {
      vertical-align: middle;
      color: #666;
    }
  }
  .description {
    font-family: 'Smart Zawgyi Pro';
    padding-top: 8px;
    color: #aaa;
  }
}
