<ion-header>
  <ion-navbar>
    <ion-title>Event Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-card *ngIf="isContentView">
    <img [src]="event.cover.source">
    <ion-card-content>
      <ion-card-title class="title">{{ event.name }}</ion-card-title>
      <ion-note icon-start class="date">
        <ion-icon name="clock"></ion-icon>
        <span>{{ event.start_time | date: 'MMM d, y' }} at {{ event.start_time | date: 'h:mm a' }} - {{ event.end_time | date: 'MMM d, y' }} at {{ event.end_time | date: 'h:mm a' }}</span>
      </ion-note>
      <br>
      <ion-note icon-start class="location">
        <ion-icon name="pin"></ion-icon>
        <span>{{ event.place.location.street }}</span>
      </ion-note>
      <pre text-wrap class="description">{{ event.description }}</pre>
    </ion-card-content>
    <ion-item>
      <a ion-button clear icon-start item-end href="{{ 'https://www.google.com/maps/search/?api=1&query=' + event.place.location.latitude + ',' + event.place.location.longitude }}" target="_blank">
        <ion-icon name="navigate"></ion-icon>
        Get Directions
      </a>
    </ion-item>
  </ion-card>
</ion-content>
