<ion-tabs name="movies">
  <ion-tab [root]="tab1Root" tabIcon="videocam" tabTitle="Movies" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="pricetags" tabTitle="Genres" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="calendar" tabTitle="Years" tabUrlPath="tabs"></ion-tab>
</ion-tabs>
