<ion-tabs name="music-videos">
  <ion-tab [root]="tab1Root" tabIcon="musical-notes" tabTitle="Songs" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="people" tabTitle="Artists" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="albums" tabTitle="Albums" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="pricetags" tabTitle="Genres" tabUrlPath="tabs"></ion-tab>
</ion-tabs>
