<ion-tabs name="series">
  <ion-tab [root]="tab1Root" tabIcon="videocam" tabTitle="TV Series" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="pricetags" tabTitle="Genres" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="calendar" tabTitle="Years" tabUrlPath="tabs"></ion-tab>
</ion-tabs>
