<ion-header>
  <ion-navbar>
    <ion-title>{{ game.name || 'Error' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <ion-card *ngIf="isContentView">
    <ion-card-header ion-item>
      <ion-thumbnail item-start>
        <img [src]="game.icon ? game.icon.url() : 'assets/imgs/cover.png'">
      </ion-thumbnail>
      <h2>{{ game.name }}</h2>
      <p>Version: {{ game.version }}</p>
      <p>Size: {{ fileSize(game.fileSize) }}</p>
    </ion-card-header>
    <ion-card-content *ngIf="review" [innerHTML]="review | safe: 'html'">
    </ion-card-content>
    <ion-item>
      <a ion-button clear icon-start item-end [href]="getDownloadUrl('games', game.id)" target="_blank">
        <ion-icon name="download"></ion-icon>
        Download
      </a>
    </ion-item>
  </ion-card>
</ion-content>
