<ion-tabs name="news-events">
  <ion-tab [root]="tab1Root" tabIcon="paper" tabTitle="News" tabUrlPath="tabs"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="calendar" tabTitle="Events" tabUrlPath="tabs"></ion-tab>
</ion-tabs>
