<ion-header>
  <ion-navbar>
    <ion-title>{{ channel.name || 'Error' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <vjs-video *ngIf="isContentView" [src]="channel.url" autoplay></vjs-video>
</ion-content>
