page-episode-detail {
  .episode {
    .backdrop {
      height: 300px;
      margin: -16px;
      overflow: hidden;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transform: scale(1.5);
        filter: blur(5px);
      }
    }
    .poster,
    .image,
    .shadow {
      width: 170px;
      height: 255px;
      border-radius: 6px;
      &.poster {
        position: absolute;
        margin-top: -225px;
        margin-left: calc(50% - (170px / 2));
      }
      &.image {
        display: block;
        border: 3px solid #fff;
      }
      &.shadow {
        position: absolute;
        z-index: -1;
        bottom: -15px;
        border: 3px solid #fff;
        transform: scale(0.95);
        opacity: 0.4;
        filter: blur(4px);
      }
    }
    .detail {
      .show {
        font-weight: 800;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: -0.03em;
        margin-top: 50px;
        padding: 5px 0 15px 0;
      }
      .year {
        font-size: 20px;
        color: #aaa;
        float: left;
      }
      .synopsis {
        font-weight: 100;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.03em;
        color: #888;
        margin-top: 50px;
        padding: 15px 0 15px 0;
      }
      .genres,
      .cast,
      .size {
        font-size: 16px;
        line-height: 18px;
        padding: 15px 0 5px 0;
        .label {
          font-weight: 100;
          color: #aaa;
          padding: 4px 0 4px 24px;
          ion-icon {
            position: absolute;
            margin-top: 1px;
            margin-left: -24px;
          }
        }
        .value {
          font-weight: 400;
          color: #444;
        }
      }
    }
  }
}
