<ion-header>
  <ion-navbar>
    <ion-title>{{ episode.show && episode.season && episode.episode && episode.episodeId ? episode.show + ' - Season ' + episode.season + ', Episode ' + episode.episode + ' - ' + episode.episodeId : episode.file || 'Error' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <message-view *ngIf="isErrorView" icon="wifi" message="No Connection Available"></message-view>
  <message-view *ngIf="isEmptyView" icon="sad" message="No Data Found"></message-view>
  <div *ngIf="isContentView" class="episode">
    <div class="backdrop">
      <img [src]="episode.picture ? episode.picture.url() : 'assets/imgs/poster.png'">
    </div>
    <div class="poster">
      <img [src]="episode.picture ? episode.picture.url() : 'assets/imgs/poster.png'" class="image">
      <img [src]="episode.picture ? episode.picture.url() : 'assets/imgs/poster.png'" class="shadow">
    </div>
    <div class="detail">
      <div class="show">{{ episode.show || episode.file }}</div>
      <div class="year">{{ episode.year || 'Unknown' }}</div>
      <div class="synopsis" [innerHTML]="episode.synopsis | safe: 'html'"></div>
      <div class="genres">
        <div class="label">
          <ion-icon name="pricetags"></ion-icon>
          <span>Genres</span>
        </div>
        <div class="value">
          <span *ngFor="let genre of episode.genre; let last = last">{{ genre }}<span *ngIf="!last">, </span></span>
        </div>
      </div>
      <div class="cast">
        <div class="label">
          <ion-icon name="people"></ion-icon>
          <span>Cast</span>
        </div>
        <div class="value">
          <span *ngFor="let artist of episode.artist; let last = last">{{ artist }}<span *ngIf="!last">, </span></span>
        </div>
      </div>
      <div class="size">
        <div class="label">
          <ion-icon name="document"></ion-icon>
          <span>Size</span>
        </div>
        <div class="value">
          <span>{{ fileSize(episode.fileSize) }}</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="isContentView">
  <ion-grid>
    <ion-row no-padding no-margin>
      <ion-col col-6 no-padding>
        <a ion-button full icon-start color="dark" navPush="VideoPlayerPage" [navParams]="{ type: 'series', id: episode.id }">
          <ion-icon name="play"></ion-icon>
          Play
        </a>
      </ion-col>
      <ion-col col-6 no-padding>
        <a ion-button full icon-start color="dark" [href]="getDownloadUrl('series', episode.id)" target="_blank">
          <ion-icon name="download"></ion-icon>
          Download
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
